.sectiontest{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffa91469;
}
.div1test{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1f8fffab;
    z-index: 5;
}